<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="phoneNumberForm" (ngSubmit)="sendOtp()">
    <ion-item>
      <ion-label position="fixed">+91</ion-label>
      <ion-input
        inputmode="tel"
        clearInput
        enterkeyhint="submit"
        placeholder="Your Number"
        formControlName="phoneNumber"
        [maxlength]="10"
      ></ion-input>
    </ion-item>
    <ion-button
      item-right
      type="submit"
      expand="block"
      [disabled]="phoneNumberForm.invalid || loading"
      *ngIf="!showOtpInput"
    >
      Send Otp <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </ion-button>
  </form>
  <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()" *ngIf="showOtpInput">
    <ion-item>
      <ion-label position="fixed">OTP</ion-label>
      <ion-input
        inputmode="tel"
        autofocus
        clearInput
        enterkeyhint="submit"
        placeholder="OTP in SMS"
        formControlName="otp"
      ></ion-input>
    </ion-item>
    <ion-button
      item-right
      type="submit"
      expand="block"
      [disabled]="otpForm.invalid || loading"
    >
      Verify Otp <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
